# DOCS:
# - tutorial: https://kkurko.hashnode.dev/keep-your-dependencies-up-to-date-with-dependabot-on-gitlab

spec:
  inputs:
    stage:
      default: test
      description: "Define the stage this job will run in"
    package_manager:
      default: gomod
      description: "Dependabot package manager identifier (e.g., gomod, npm_and_yarn)"
    directory:
      default: "/"
      description: "Repository directory Dependabot should scan"
---

.dependabot-gitlab:
  tags:
    - gitlab-org-docker
  image:
    name: docker.io/andrcuns/dependabot-gitlab-gomod:3.54.0-alpha.1
    entrypoint: [""]
  variables:
    GIT_STRATEGY: none
    PACKAGE_MANAGER: "$[[ inputs.package_manager ]]"
    RAILS_ENV: production
    SECRET_KEY_BASE: key
    SETTINGS__GITLAB_ACCESS_TOKEN: "$CI_JOB_TOKEN"
    SETTINGS__GITLAB_URL: $CI_SERVER_URL
    SETTINGS__STANDALONE: "true"
    SETTINGS__LOG_COLOR: "true"
  script:
    - cd /home/dependabot/app
    - bundle exec rake "dependabot:update[$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME,$PACKAGE_MANAGER,$[[ inputs.directory ]]]"

dependabot:
  extends: .dependabot-gitlab
  stage: $[[ inputs.stage ]]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
